<div id="container">
    <header>
        <div>
            <h1>GoodTasks</h1>
        </div>
    </header>
    
    <section>
        <form>
          <input type="search" class="form-control" name="desc" placeholder="Create a new task" autofocus>
          <button type="button"  class="btn btn-primary float-right">Create</button>
        </form>
    </section>

    <main>
        <div>
            <h2 class="default-title">All Taks</h2>
            <ul>              
                    <li class=" status"><span class="status-spn" >task.name</span></li>
                    <li><span class="task-description">task.desc</span></li>
                    <li class="clear-space"><span><button ><img src="https://raw.githubusercontent.com/chalestristian/goodtask/c3d4002476ad19122e745a337aba153caef9ee28/goodtaskapp/src/assets/icons/edit_icon.svg" alt="Icone de editar"></button></span></li>
                    <li class="clear-space"><span><button ><img src="https://raw.githubusercontent.com/chalestristian/goodtask/c3d4002476ad19122e745a337aba153caef9ee28/goodtaskapp/src/assets/icons/delete_icon.svg" alt="Icone de excluir"></button></span></li>
                    <li class="clear-space"><span><button ><img src="https://raw.githubusercontent.com/chalestristian/goodtask/c3d4002476ad19122e745a337aba153caef9ee28/goodtaskapp/src/assets/icons/done_icon.svg" alt="Icone de concluir"></button></span></li>
            </ul>
        </div>
    </main>
</div>