h1, h2{
    font-family: 'Rampart One', cursive;
    color: #4F4F4F;
    font-weight: 900;
} 

h1{font-size: 5em;} 
h2{font-size: 2.5em;} 

/*
.status{
    font-size: 0.8em;
    font-weight: 900;
    color: #ffffff;
}
.status-spn{
    border-radius: 50px;
    padding: 5px;
}
.status-closed{
    background-color: #458dec7c;
    border: 3px solid #5e85da13;
}
.status-open{
    background-color: #ec45457c;
    border: 3px solid #da5e5e07;
}
.btn-primary{
    font-size: 1.5em;
    font-weight: 900;
    color: #ffffff;
    background-color: #12a876c5;
    border: 3px solid #12a876c5;
    margin-top: 20px;
    padding: 10px 30px;
}
.btn-primary:hover{
    background-color: #12a876;
    border: 3px solid #12a876;
}
.form-control{
    font-style: italic;
    font-size: 1.5em;
    padding: 30px;
    border-radius: 5px;
}
.clear-space{
    width: 0;
}
.task-description{
    border-radius: 50px;
    padding: 0 10px;
} */