@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); /*All content*/
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap'); /*Main title only*/

body{background-color: #F9F7F2;}
*{font-family: 'Poppins', sans-serif;}

#container{
    padding: 50px 0px;
    border: 1px solid red;

}

header{  
    display: flex;
    justify-content: space-around;

    border: 1px solid rgb(38, 0, 255);

}
section{  
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    border: 1px solid rgb(0, 255, 128);

}

main{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    border: 1px solid rgb(153, 255, 0);
}


/*
header, table{
    padding: 25px 0px;
    margin: 50px 0px;
    min-width: 100%;   
}





tr{
    margin: 100px 0px;
    font-size: 2em; 
}

td{     
    padding: 15px 0;
}

img{
    width: 50px;
    border-radius: 50px;    
    padding: 5px;
    background-color: #4f4f4f1a;
}

img:hover{  
    background-color: #12a87673;
} */