<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<main>
  <header>
    <h1 class="title"  matTooltip="Info about the action">GoodTasks</h1>
  </header>

  <div>
    <section>
        <input type="text" class="form-create" name="task" placeholder="Create a new task" [(ngModel)]="task.task" autofocus />
        <span (click)="create()" type="submit"  class="btn-create pointer" >Create</span>
    </section>  
  </div>

  <div class="main">
  <h2 class="title">Minhas Taks</h2>
  
  <div class="list-block">
    <ul>
      <li *ngFor="let task of tasks"  [ngClass]="{greenLi: !task.active, redLi: task.active}">        
       <div *ngIf='!task.inputshow' class="btns-check">
        <span class="pointer">
          <div *ngIf="task.active; else elseBlock">
            <span class="material-symbols-outlined btns" [ngClass]="{green: !task.active, red: task.active}" (click)="ChangeState(task)">radio_button_unchecked</span>
          </div>
        </span>

        <ng-template #elseBlock class="pointer">
          <span class="material-symbols-outlined btns" [ngClass]="{green: !task.active, red: task.active}" (click)="ChangeState(task)">check_circle</span>
        </ng-template>
  </div>



        <span *ngIf='!task.inputshow'  (click)="task.inputshow = !task.inputshow" class="task-description pointer">{{task.task}}
        <span class="material-symbols-outlined btns edit" [ngClass]="{green: !task.active, red: task.active}">edit</span>
        </span>
        <span  *ngIf='!task.inputshow' class="material-symbols-outlined btns pointer delete" [ngClass]="{green: !task.active, red: task.active}" (click)="remover(task.id)" >delete_forever</span>
        <input *ngIf='task.inputshow' [ngClass]="{greenInput: !task.active, redInput: task.active}" class="input" value="{{task.task}}" type='text' name="" id='{{task.id}}' [(ngModel)]="task.task" />
        <span *ngIf='task.inputshow' class="material-symbols-outlined btns pointer" [ngClass]="{green: !task.active, red: task.active}" (click)="list()">cancel</span>
        <span *ngIf='task.inputshow' class="material-symbols-outlined btns pointer" [ngClass]="{green: !task.active, red: task.active}" (click)="update(task)" type="submit">save</span>        
      </li>
    </ul>  
  </div>
</div>
</main>